**.csv
**.ogg
team_readme.md
hidden
processed_data
*.pth
# *.ipynb
*.neptune
*.png

data/birdclef-2024.zip
data/test_soundscapes

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

